/* Global */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --background1: #ffffff;
  --background2: #f8f8f8;
  --primary1: #f9522f;
  --text: #000000;
  --mainGrey: rgb(105, 105, 105);
  --lightGrey: rgb(159, 159, 159);
  --lightestGrey: rgb(213, 213, 213);
  --secondary: #57c59f;
  --mainTransition: 0.3s;
  --paraSpacing: 0.05rem;
  --wideSpacing: 0.2rem;
  /* DARK MODE */
  --darkBackground1: #0b1a2b;
  --darkBackground2: #060612;
  --darkPrimary1: #f9522f;
  --darkText: #ffffff;
  --darkSecondary: #57c59f;
}@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: var(--text);
  /* letter-spacing: var(--paraSpacing); */
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, var(--background1), var(--background2));
  justify-content: flex-start;
  align-items: flex-start;
  transition: var(--mainTransition);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90px;
}

ul {
  list-style: none;
}

button {
  border: none;
  text-transform: initial !important;
  cursor: pointer;
}

h1 {
  text-transform: capitalize;
  font-weight: 700;
}

p {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

#mainNav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#mainNav:nth-child(1) {
  padding-left: 0;
}

.mainNavBtn {
  background: none;
  border: none;
  color: var(--mainGrey);
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 5px 10px 5px 10px;
  border-radius: 25px 25px 25px 25px;
  transition: var(--mainTransition);
  border: 1px solid var(--mainGrey);
}

.mainNavBtnActive {
    border: 1px solid black !important;
    color: var(--text) !important;
}

.mainNavBtn:hover {
  color: var(--primary1);
}

.primaryColBtns {
  background-color: var(--primary1);
  color: white;
  border-radius: 25px 25px 25px 25px;
  transition: var(--mainTransition);
  padding: 13px 20px 13px 20px;
}

.secondaryColBtns {
  background-color: white;
  border: 1px solid black;
  border-radius: 25px 25px 25px 25px;
  transition: var(--mainTransition);
  padding: 13px 20px 13px 20px;
}

.greyBtnHvr {
  transition: var(--mainTransition);
}

.greyBtnHvr:hover {
  color: black;
  border-color: black;
  cursor: pointer;
}

select { 
  padding-left: 2px;
}

select:focus {
  outline: none;
  outline: 1px solid black;
  border-radius: 20px;
}



/* --------------------------------------- listCreator.html */

/* --- */

#lc-leftCol {
  width: 350px;
  height: 100%;
  padding-left: 75px;
}

#lc-leftGrp {
  position: absolute;
  top: 3%;
  height: 97%;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#lc-logoTtl {
  height: 50px;
  width: 400px;
  display: flex;
  align-items: center;
}

#lc-peopleSelect {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0 10px 0;
  margin-top: 5px;
}

#lc-totalAdded {
  display: none;
}

#lc-chevronExp {
  position: fixed;
  bottom: 5000px;
  width: 10px;
  height: 10px;
}

#lc-peopleSelect p {
  font-size: 0.9rem;
  font-weight: 500;
}

#lc-peopleSelect select {
  height: 20px;
  margin-left: 10px;
  font-size: 0.8rem;
  font-weight: 700;
  border: none;
  border-bottom: 1px solid black;
}

#lc-peopleSelect select:hover {
  cursor: pointer;
}

.lc-leftColCont {
  overflow: scroll;
  top: 100px;
}

#lc-selected {
  height: 83%;
}

#lc-selectedTable {
  font-size: 0.9rem;
  border-collapse: collapse;
}

.lc-selectedTblRow td {
  font-weight: 500;
  font-size: 0.8rem;
}

.middleChild {
  width: 2.3rem;

}

#lc-selectedTable td:first-child, #lc-selectedTable th:first-child {
  text-align: left;
}

#lc-selectedTable td:last-child, #lc-selectedTable th:last-child {
  text-align: right;
}

#lc-selectedMealCol {
  width: 250px;
}

#lc-selectedTable td {
  width: 20px;
  font-size: 0.8rem;
  /* letter-spacing: var(--paraSpacing); */
  padding: 10px 5px 5px 5px;
}

.selected-fa-xmark {
  transition: var(--mainTransition);
  font-size: 0.9rem;
  fill: var(--mainGrey);
  margin-top: 6px;
}

.selected-fa-xmark:hover {
  fill: black;
}

#lc-finishBtns {
  width: 300px;
  height: 18%;
  background-color: none;
}

#lc-genResBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  background-color: none;
}


/* --- */

#lc-nav {
  position: absolute;
  left: 450px;
  width: calc(100% - 480px);
  height: 12%;
}
/* --- */

#lc-recSelTitle h1 {
  font-weight: 500;
  /* letter-spacing: var(--wideSpacing); */
  font-size: 3rem;
}

#lc-recipeDisp {
  position: absolute;
  left: 450px;
  top: 12%;
  width: calc(100% - 490px);
  height: 88%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#lc-recipeBox {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#lc-recipeBox:last-child {
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: var(--mainGrey);
}

a:hover {
  color: black;
}

.finalList {
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: outside;
  column-gap: 100px;
}

.editListItemSVG {
  width: 12px; 
  height: 12px;
  fill: var(--mainGrey);
  margin-left: 5px;
}

.deleteListItemSVG {
  width: 15px; 
  height: 15px;
  fill: var(--mainGrey);
  transform: translateY(2px);
}

.finalList li, .finalList li p {
  padding: 3px 0 2px 0;
  margin: 0;
  font-size: 0.95rem;
  font-weight: 600;
}

@media (min-width: 1920px) { 
    body {
      font-size: 120%;
    }
    #lc-recipeBox {
        grid-template-columns: repeat(4, 1fr);
    }
    .lc-NutritionTbl table {
      margin-top: 40px !important;
    }
}

@media (min-width: 2100px) { 
  body {
    font-size: 170%;
  }
  #lc-leftCol {
    padding-left: 50px !important;
  }
  #lc-recipeBox {
      grid-template-columns: repeat(3, 1fr);
  }
  .mainNavBtn {
    font-size: 1.5rem;
  }
  .primaryColBtns, .secondaryColBtns {
    font-size: 100% !important;
  }
  #lc-finishBtns {
    width: 100% !important;
  }
  .lc-recipeCard {
    width: 450px !important;
    height: 300px !important;
  }
  .lc-favBg {
    width: 350px !important;
    height: 100px !important;
    right: -185px !important;
    top: -10px !important;
  }
  .cardFav {
    width: 45px !important;
    right: 4px !important;
    top: 11px !important;
  }
  /* .lc-favHrtBox {
    width: 45px !important;
    height: 45px !important;
    top: 11px !important;
    right: 5px !important;
  } */
  .favCheckbox {
    transform: scale(3.7) !important;
    right: 23px !important;
    top: 26px !important;
  }
  .lc-cardRecipeTtl {
    font-size: 1.3rem !important;
    line-height: 1.4rem;
    padding-right: 10px;
  }
  .recipeInfoBtn {
    font-size: 1.2rem !important;
  }
  .lc-compareSelect select {
    font-size: 1.1rem !important;
  }
  .lc-NutritionTbl table {
    margin-top: 60px !important;
  }
  .lc-NutritionTbl th {
    font-size: 1rem !important;
  }
  .lc-NutritionTbl td {
    font-size: 1.1rem !important;
    padding: 13px 0 13px 0 !important;
  }
  .lc-compareImgPlaceHld {
    height: 250px !important;
  }
  #lc-peopleSelect p, #lc-peopleSelect select {
    font-size: 1.3rem !important;
  }
  #lc-peopleSelect select {
    height: 30px !important;
  }
  .lc-selectedTblRow td {
    font-size: 1rem !important;
  }

}

@media (min-width: 2450px) { 
  #lc-recipeBox {
      grid-template-columns: repeat(4, 1fr);
  }
}
  
@media (max-width: 1390px) {
    #lc-recipeBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1090px) {
    #lc-recipeBox {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 790px) { /* Turn into a mobile version */
    #lc-recipeBox {
        grid-template-columns: repeat(1, 1fr);
    }
}
/* --- */

.lc-recipeCard {
  width: 300px;
  height: 200px;
  border-radius: 15px;
  margin-bottom: 25px;
  transition: var(--mainTransition);
}

.lc-recipePhoto {
  width: 100%;
  height: 70%;
  position: relative;
  border-radius: 15px;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.lc-favBg {
  width: 100px;
  height: 50px;
  position: absolute;
  right: -40px;
  top: -10px;
  background-color: rgb(248, 83, 111);
  transform: rotate(45deg);
}

.cardFav {
  fill: white;
  width: 30px;
  position: absolute;
  right: 2px;
  top: 5px;
}
/* .lc-favHrtBox {
  position: absolute;
  top: 8px;
  right: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: row;
} */
.cardFav:hover {
  cursor: pointer;
}

.favCheckbox {
  transform: scale(2.7);
  position: absolute;
  right: 10px;
  top: 13px;
  z-index: 2;
  opacity: 0;
}

.favCheckbox:hover {
  cursor: pointer;
}

.lc-recipeInfo {
  height: 30%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.lc-recipeText {
  width: 80%;
  height: 90%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.lc-recipePopupBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 55%;
  height: 1rem;
}

.lc-recipePopupBtns p, .lc-recipeText p {
  margin: 0;
}

.lc-recipeText p {
  font-size: 0.9rem;
  font-weight: 500;
}

.lc-recipePopupBtns p {
  color: rgb(105, 105, 105);
  font-size: 0.85rem;
}

.lc-addRemBtns {
  width: 20%;
  height: 80%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.fa-minus, .fa-plus {
  fill: rgb(105, 105, 105);
  transition: var(--mainTransition);
}

.fa-minus:hover, .fa-plus:hover {
  fill: black;
}

/* --- */

#lc-overlay-comp {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 8;
}

#lc-overlay-list {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 8;
}

.lc-noDisplay {
  display: none;
}

.lc-hiddenOpacity {
  opacity: 0;
}

.hideScrolWin {
  background-color: rgb(255, 255, 255);
  position: fixed;
  height: 82vh;
  width: 61%;
  top: 11%;
  left: 31.5%;  
  border-radius: 25px;
}

.hideScrolWin-list {
  background-color: rgb(255, 255, 255);
  position: fixed;
  height: 82vh;
  right: 3.75%;
  top: 11%;
  left: 3.75%;  
  border-radius: 25px;
}

#lc-popupBox {
  background-color: white;
  position: fixed;
  height: 80vh;
  width: 60%;
  top: 12%;
  left: 32%;  
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

#lc-popupBox > div {
  width: 95%;
  height: 95%;
}

#lc-popupBox-list {
  background-color: white;
  position: fixed;
  height: 80vh;
  right: 8%;
  top: 12%;
  left: 8%;  
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: scroll; */
}

#lc-popupBox-list > div {
  width: 95%;
  height: 95%;
  display: flex;
}

.lc-popUpXBox {
  position: absolute;
  overflow: hidden;
  top: 5px;
  right: 7px;
  width: 40px;
  height: 40px;
}

.lc-closePopup {
  height: 75px;
  width: 75px;
  fill: var(--lightGrey);
  position: absolute;
  right: -44px;
  bottom: -39px;
}

.lc-closePopup:hover {
  fill: black;
  cursor: pointer;
}

@media (max-width: 800px) {
    #lc-popupBox {
      height: 95vh;
      width: 95%;
      top: 2.5%;
      left: 2.5%;  
    }
}
/* --- */

#lc-compareBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.lc-compareSide {
  width: 40%;
}

.lc-compareSelect select {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 0.8rem;
}

.lc-compareSelect select:hover {
    cursor: pointer;
}

.lc-compareImgPlaceHld {
  width: 100%;
  height: 162px;
  background-color: var(--lightestGrey);
  margin: 10px 0 10px 0;
  border-radius: 10px;
  background-size: cover;
  background-position: center center;
}

.lc-NutritionTbl h2 {
  font-weight: normal;
  height: 2rem;
}

.lc-NutritionTbl table {
  width: 100%;
  border-collapse: collapse;
}

.lc-NutritionTbl th {
  text-align: left;
  font-size: 0.75rem;
  color: var(--lightGrey);
  font-weight: 600;
  padding: 10px 0 0 0;
}

.lc-NutritionTbl td {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid var(--lightestGrey);
  font-size: 0.8rem;
}

.lc-NutritionTbl tr td:nth-child(2) {
  text-align: right;
}

#lc-compareNutritionTbl2, #lc-compareSelect2 select {
  color: var(--lightGrey);
}

sup {
  display: inline-block;
}

@media only screen and (max-width: 800px) {

    body {
      width: 100%;
      flex-direction: column !important;
      justify-content: space-evenly;
      align-items: center;
    }
    body > div {
      width: 89% !important;
    }
    .primaryColBtns {
      border-radius: 25px 25px 25px 25px;
      transition: var(--mainTransition);
    }
    .secondaryColBtns {
      border-radius: 25px 25px 25px 25px;
      transition: var(--mainTransition);
    }
    /* ----- */
    #lc-leftCol {
      height: 16%;
      position: static;
      padding-left: 0;
      padding-top: 20px;
      transition: var(--mainTransition);
    }
    .lc-leftColExp {
      height: 75% !important;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    .lc-leftColExpNav {
      height: 8% !important;
    }
    .lc-leftColExpRecDisp {
      height: 8% !important;
    }
    .lc-leftColCont {
      overflow: hidden;
      top: 0;
    }
    #lc-nav {
      position: static;
      left: 0px !important;
      width: 95% !important;
      height: 5%;
      transition: var(--mainTransition);
    }
    #lc-recipeDisp {
      height: 70%;
      width: 95% !important;
      position: static;
      align-items: center;
      justify-content: center;
      transition: var(--mainTransition);
    }

    #lc-leftGrp {
      position: relative;
      top: auto;
      width: 100%;
      height: 100%;
      margin: 0 !important;
      padding: 0px !important;
    }
    #lc-logoTtl {
      width: 100%;
      height: 40px;
      font-size: 0.9rem;
    }
    #lc-peopleSelect {
      padding-top: 0;
      height: 2rem;
    }
    #lc-totalAdded {
      display: inline;
      font-weight: bold;
    }
    #lc-mobExpandSelected {
      fill: var(--mainGrey);
    }
    #lc-chevronExp {
      position: absolute !important;
      height: 25px !important;
      width: 25px !important;
      bottom: 25px !important;
      right: 5px !important;
    }
    .lc-rotateExp {
      transform: rotate(180deg);
    }
    #lc-selected > h2 {
      display: inline;
    }
    #lc-selectedTable {
      margin-top: 20px;
    }
    #lc-selectedMealCol {
      width: 230px;
    }
    #lc-finishBtns {
      position: fixed;
      bottom: 20px;
      width: 88%;
      height: 75px;
      z-index: 5;
    }
    /* ----- */
    
    #lc-recipeBox {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 0;
      overflow: scroll;
    }
    .lc-recipeCard {
      min-height: 250px;
      width: 100%;
    }
    #lc-popupBox {
      height: 95vh;
      width: 95vw;
      top: 2.5%;
      left: 2.5%;  
    }
    #lc-popupBox > div {
      height: 100%;
    }
    .lc-NutritionTbl h2 {
      line-height: 1.5rem;
      height: 4.3rem;
      font-size: 1rem;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
    }
}
/* --- */
@media only screen and (max-height: 667px) {
  #lc-leftCol {
    height: 17%;
  }
  #lc-chevronExp {
    bottom: 0px;
    right: 5px;
  }
}
@media only screen and (max-height: 900) {
  #lc-leftCol {
    height: 12% !important;
  }
}
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */
/* --- */


/* --------------------------------------- ####.html */